/*setear mi css*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*clases reutiliables*/



/*clases específicas*/
nav {
  display: block;
  padding: 50px;
}
  
li {
  border-radius: 7px;
  color: white;  
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 6.5px;  
  padding: 25px;    
}

nav div {
  display: inline-block;
  margin: 10px 6.5px;  
  padding: 5px; 
}

.bar {
  background-color: rgb(239, 239, 239);
  border-radius: 7px;
  height: 30px;
  width: 900px;  
}

[class^="icon-"], [class*=" icon-"]  {
  color: rgb(181, 181, 181);
  font-size: 20px;
}

.color1 {
  background: rgb(114, 95, 78);  
}

.color2 {
  background: rgb(171, 139, 111);  
}

.color3 {
  background: rgb(136, 115, 93);
}

.color4 {
  background: rgb(139, 107, 79);
}

.color5 {
  background: rgb(157, 148, 75);
}

.color6 {
  background: rgb(134, 112, 83);
}

.color7 {
  background: rgb(159, 140, 130);
}

.color8 {
  background: rgb(155, 119, 92);
}

.color9 {
  background: rgb(181, 143, 128);
}